.App {
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.App h2{
  text-decoration: underline 2px  solid black;  

}
.App .input_div{
  display: flex;
  flex-direction: row !important;
  
}
